MONGO_URI=mongodb+srv://sweetyseleena_db_user:sweety_insta4@cluster0.opet9lj.mongodb.net/og_ecosystem?retryWrites=true&w=majority
MONGO_DB=og_ecosystem
JWT_SECRET=change_this_secret
JWT_EXPIRE_MIN=43200
